# Python
.venv/
__pycache__/
*.pyc
.env
*.sqlite3




# Node
node_modules/
.env.local




# OS
.DS_Store
Thumbs.db

backend/.venv/
backend/db.sqlite3
backend/**/__pycache__/
frontend/node_modules/
*.log
.env
.DS_Store
